<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.nekobako.twidere.extension.aniuta">

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<meta-data
			android:name="org.mariotaku.twidere.extension"
			android:value="true" />

		<activity
			android:name=".MainActivity"
			android:icon="@drawable/ic_music_note_white_48dp"
			android:label="@string/aniuta">
			<intent-filter>
				<action android:name="org.mariotaku.twidere.EXTENSION_COMPOSE" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".SettingsActivity"
			android:label="@string/settings">
			<intent-filter>
				<action android:name="org.mariotaku.twidere.EXTENSION_SETTINGS" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<service
			android:name=".MusicPlayerListenerService"
			android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
			<intent-filter>
				<action android:name="android.service.notification.NotificationListenerService" />
			</intent-filter>
		</service>

		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>
	</application>

</manifest>